# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [87]:
import numpy as np
import pandas as pd

from scipy.stats import ttest_rel
from scipy.stats import ttest_ind
from scipy.stats import sem
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [5]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [6]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:
salaries.groupby('Department').count()['Name']

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [10]:
# Your code here:

from scipy.stats import ttest_1samp
from scipy.stats import t
from statsmodels.stats import weightstats as w

T test

In [11]:
salary = salaries["Hourly Rate"].dropna()
media_deseada = 30

In [12]:
ttest_1samp(salary,media_deseada)

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

Z-test

In [13]:
media_hipotetica = 30

media_muestral  = salary.mean()

desviacion_estandar_muestral = salary.std() 

tamaño_muestral = 8022

grados_de_libertad = tamaño_muestral-1  #muestra de valores independientes

z_score = (media_muestral - media_hipotetica) / (desviacion_estandar_muestral/np.sqrt(100))

from scipy.stats import norm

p_value = norm().cdf(z_score) 

z_score, p_value

(2.30220101787297, 0.9893380806962757)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
# Your code here:

police = salaries[salaries['Department']== 'POLICE']

Tomamos que:

- H0 = μ ≤ 8600
- H1 = μ > 8600

Estamos interesados en probar que la media actual es mayor a la media del año pasado.

In [15]:
police["Annual Salary"].dropna()

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [16]:
z_score, p_value = w.ztest(police["Annual Salary"],  
                           value=8600,
                           alternative='smaller')

In [17]:
z_score, p_value = w.ztest(salary,  # aqui irian los datos de verdad
                           value = media_hipotetica,
                           alternative = 'larger')

p_value

9.114436929643097e-95

Dado que el p_value es menor a 0.05, podríamos rechazar la hipótesis nula y concluir que hay evidencia suficiente para afirmar que los salarios son significativamente mayores que el promedio del año pasado.

                                                                              By. Jean-Cha

Using the `crosstab` function, find the department that has the most hourly workers.

In [58]:
# Your code here:

pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])['Hourly'].idxmax()

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [68]:
# Your code here:
street = salaries[salaries['Department']== 'STREETS & SAN']
hourly_workers = street[street['Salary or Hourly']=='Hourly']

Planteamos la siguientes hipotesis:
  
        H0 : µ > 35 \
        H1 : µ < 35

alternative=less

In [72]:
ttest_1samp(hourly_workers['Hourly Rate'],
            35,
            alternative = 'less')

TtestResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21, df=1861)

Según los resultados obtenidos tenemos p_value menor a 0.05, podríamos rechazar la hipótesis nula y concluir que hay evidencia suficiente para afirmar que los salarios son significativamente menores a 35$/hour.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [74]:
# Your code here:

t.interval(0.95,                # 95% de intervalo de confianza
           len(salary)-1,           # grados de libertad
           loc = salary.mean(),     # media muestral
           scale=sem(salary))       # error estándar de la media muestral

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [86]:
# Your code here:
# police['Annual Salary'] = salaried police

salaried_police = police['Annual Salary'].dropna()

t.interval(0.95,
           len(salaried_police)-1,
           loc = salaried_police.mean(),
           scale = sem(salaried_police))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

¿Es la cantidad de trabajadores por hora significativamente diferente al 25%?

H0 : No, es igual \
H1 : Si, es igual

In [107]:
# Your code here:

z_score, p_value = proportions_ztest(salaries['Salary or Hourly'].value_counts()[1],
                                     len(salaries['Salary or Hourly']),
                                     0.25)

z_score, p_value

C:\Users\CIara\AppData\Local\Temp\ipykernel_1200\2539212173.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  z_score, p_value = proportions_ztest(salaries['Salary or Hourly'].value_counts()[1],

(-3.5099964213703005, 0.0004481127249057967)

Según los resultados obtenidos (z-score) hay una proporción menor observada de aquellos que ganan por hora menor al 25 %, es decir, hay menos personas de los esperado trabajando por horas. Además, (p-value) hay evidencia estadísticamente significativa en la proporción de personas que trabajan por hora en comparación con la referencia del 25 %